<h2>Edit Dashboard Details</h2>

<%= form_for @dashboard, :url =>{:action => "update", :id =>@dashboard} do |f| %>

<p>Dashboard Name: <%= f.text_field 'release' %></p>

<p>Dashboard Layout: <%= f.text_area 'layoutDash', placeholder: "{Optional}", size: "50x5" %></p>

<%= f.submit "Save changes" %>
<% end %>

<%= link_to 'Back', {:action => 'list' } %>

<hr />


<p><%= button_to "Dashboard List", {:controller => 'dashboard', :action => 'list'}, {class: 'blueButton', method: 'get'}%></p>

<div id="githublink"><%= link_to "Github README", "https://github.com/alexsheehan1/release_dashboard", :target => "_blank" %></div>